<ion-header>
  <ion-navbar color='dark'>

    <button ion-button menuToggle>
      <ion-icon name="menu" color='link'></ion-icon>
    </button>

    <ion-title text-center>Amenities</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='signOut()' color='link'>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <img src="assets/page-amenities.jpg" />

  <!-- Play Rooms -->

  <button ion-button full outline (click)="togglePlayRooms()">
    <h2>
      <ion-icon name="add" item-start *ngIf="!showPlayRooms"></ion-icon>
      Play Rooms
      <ion-icon name="close" item-end *ngIf="showPlayRooms"></ion-icon> 
    </h2>
  </button>

  <ion-list *ngFor="let amenity of amenitiesList" [hidden]="filter(amenity,'Play Rooms')" text-wrap>
    <ion-item *ngIf="showPlayRooms" style="background-color: transparent">
      <div [innerHTML]="amenity.description | keepHtml"></div>
    </ion-item>
  </ion-list>


  <!-- Sponsor Rooms -->

   <button ion-button full outline (click)="toggleSponsorRooms()">
    <h2>
      <ion-icon name="add" item-start *ngIf="!showSponsorRooms"></ion-icon>
      Sponsor Rooms
      <ion-icon name="close" item-end *ngIf="showSponsorRooms"></ion-icon> 
    </h2>
  </button>

  <ion-list *ngFor="let amenity of amenitiesList" [hidden]="filter(amenity,'Sponsor Rooms')" text-wrap>
    <ion-item *ngIf="showSponsorRooms" style="background-color: transparent">
      <div [innerHTML]="amenity.description | keepHtml"></div>
    </ion-item>
  </ion-list>



  <!-- Theme Rooms -->

  <button ion-button full outline (click)="toggleThemeRooms()">
    <h2>
      <ion-icon name="add" item-start *ngIf="!showThemeRooms"></ion-icon>
      Theme Rooms
      <ion-icon name="close" item-end *ngIf="showThemeRooms"></ion-icon>
    </h2>
  </button>

  <ion-list *ngFor="let amenity of amenitiesList" [hidden]="filter(amenity,'Theme Rooms')" text-wrap>
    <ion-item *ngIf="showThemeRooms" style="background-color: transparent">
      <div [innerHTML]="amenity.description | keepHtml"></div>
    </ion-item>
  </ion-list>




</ion-content>

<ion-footer no-border>
   <ion-toolbar color='dark'>
     <ion-title text-center class="footerTitle">SOP Productions 2017</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)='goToProfile()'>
        <ion-icon name="cog" color="link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
